/** Sections **/
section {
  padding: 1rem 20vw;
}

article {
    position: relative;
    background-color: var(--offwhite);
    border-left: 7pt solid var(--teal);
    padding: 1rem;

    margin-block-start: 16pt;
    margin-block-end: 16pt;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/** Main **/
body {
  margin: 0;
}

main {
  margin-bottom: 10rem;
}

/** "Read More"s **/
details {
  position: relative;
}
details summary {
  list-style: none;
  margin-block-start: 0pt;
  margin-block-end: 7pt;
}
details summary::after {
  display: block;
  content: "+ Read more";
  color: var(--pink);
  margin-block-start: 7pt;
}
details summary:hover::after {
  color: var(--teal);
}
details[open] summary::after {
  content: "- Read less";
  position: absolute;
  top: calc(100% + 1rem);
  font-size: 1rem !important;
}
details[open] {
  margin-bottom: 4rem;
}

/** Responsivity **/
@media screen and (max-width: 110vh) {
  section {
    padding: 2rem !important;
  }
}