:root {
  --pink: #e83151; /* Pink */
  --teal: #c3dfe0; /* Teal */
  --black: #000000; /* Black */
  --offblack: #2b2d42; /* Off-Black */
  --grey: #02394a; /* Grey */
  --offwhite: #f7f7f2; /* Off-White */
  --white: #ffffff; /* White */
}