/* Sans */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Serif */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Blockquote Decoration */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --pink: #e83151; /* Pink */
  --teal: #c3dfe0; /* Teal */
  --black: #000000; /* Black */
  --offblack: #2b2d42; /* Off-Black */
  --grey: #02394a; /* Grey */
  --offwhite: #f7f7f2; /* Off-White */
  --white: #ffffff; /* White */

  --serif: "Bitter";
  --sans: "Outfit";
  --mono: "JetBrains";

  font: normal normal 300 14pt var(--sans); /* Root Font */
  color: var(--c4); /* Root Font Colour */
}

/** Banner **/
body > header {
  /* Contents */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding: 10vh 20vw;

  background: url("../img/Site/cover-texture.png") fixed;
  border-bottom: 4px solid var(--offblack);
}

.headbox {
  display: grid;
  position: relative;
  grid-template-columns: [left] 4rem [picleft] auto [picright] auto [right];
  grid-template-rows: [top] 5rem [biotop] 5rem 5rem [biobottom] 5rem [bottom];

  justify-items: center;
  align-items: center;

  background-color: var(--offwhite);
  border: 4px solid var(--offblack);
}

.headbox hr {
  margin-block-start: 0;
  margin-block-end: 8pt;
  width: 100%;
  border-bottom: 2px solid var(--pink);
}

.headbox a {
    position: relative;
    background-color: var(--offwhite);
    grid-column-start: left;

}
.headbox a img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25%;
  filter: url(#pink);
}
.headbox a img:hover {
  background-color: var(--pink);
  filter: none;
}

.headbox > img {
  grid-row-start: top;
  grid-row-end: bottom;
  grid-column-start: picleft;

  position: relative;
  width: 20rem;
  height: calc(100% + 4rem);
  max-height: auto;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 110vh) {
  .headbox > img {
    display: none;
  }
}

.headbox div {
  grid-column-start: picright;
  grid-row-start: biotop;
  grid-row-end: biobottom;

  padding: 4rem;
}


/** Nav bar **/
nav {
  position: sticky;
  bottom: 2rem;
  top: 2rem;

  display: flex;
  flex-direction: column;
  width: 10rem;
  margin-left: calc(100vw - 14rem);
  z-index: 10;
}
nav > a {
  box-sizing: border-box;
  padding: 1rem;
  height: 3rem;
  min-width: 10rem;

  vertical-align: center;
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  background-color: var(--offblack);
  color: white;
  text-decoration: none;
}
nav > a:hover {
  background-color: var(--pink);
  color: white;
}

/** Sections **/
article {
  position: relative;
  background-color: var(--offwhite);
  border-left: 7pt solid var(--teal);
  padding: 1rem;

  margin-block-start: 16pt;
  margin-block-end: 16pt;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/** Main **/
body {
margin: 0;
}

main {
margin-bottom: 10rem;
padding: 1rem 20vw;
}

/** "Read More"s **/
details {
position: relative;
}
details summary {
list-style: none;
margin-block-start: 0pt;
margin-block-end: 7pt;
}
details summary::after {
display: block;
content: "+ Read more";
color: var(--pink);
margin-block-start: 7pt;
}
details summary:hover::after {
color: var(--teal);
}
details[open] summary::after {
content: "- Read less";
position: absolute;
top: calc(100% + 1rem);
font-size: 1rem !important;
}
details[open] {
margin-bottom: 4rem;
}

/** Images **/
img {
  max-height: 40rem;
  object-fit: contain;
  box-sizing: border-box;
  width: 100%;
}

figure {
  position: relative;
  margin: 1rem;
  background-color:var(--offblack);
  padding: 4pt;
}
figure.left {
  float: left;
  margin-left: 0;
  margin-right: 1rem;
  margin-top: 0;
  max-width: 50%;
}
figure.right {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
  margin-top: 0;
  max-width: 50%;
}
@media screen and (max-width: 110vh) {
  figure, figure.left, figure.right {
    float: none;
    margin: 2rem 0;
    max-width: 100%;
  }
}

figcaption {
  color: var(--white);
  padding: 8pt 14pt;
}

.side-by-side {
  display: grid;
  grid-template-columns: [left] 50% [mid] 50% [right];
}
@media screen and (max-width: 110vh) {
  .side-by-side {
    grid-template-columns: [left] auto [mid];
  }
}

/* Thumbnails */
.thumb-array {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}
.thumb-array a {
  margin: 0.5rem;
}
.thumb-array a:hover {
  font-size: 0;
  border-bottom: 10px solid var(--c1);
  margin-bottom: -10px;
}
.thumb-array img {
  height: 10rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

/* Gallery */
.img-array {

}
.img-array img {
  height: 15rem;
}

/* IPA */
.IPA::before, .IPA::after {
  content: "/"
}

/* Tables */
table {
  border-collapse:separate;
  border-spacing:1rem;
}
td {
  position: relative;
  margin: 1rem;
}

/* Citations */
.altmetric-citation {
  display: grid;
  grid-template-columns: 4rem auto;
  align-items: center;
}
.altmetric-citation > p {
  margin: 0;
}
.altmetric-embed {
  margin-right: 1rem;
}

/** Headings **/
.headbox h1 {
  font: normal normal 400 54pt var(--serif);
  color: var(--offblack);
  margin-block-start: 24pt;
  margin-block-end: 0;
}

h1 {
  font: normal normal 600 54pt var(--serif);
  color: var(--pink);

  margin-block-start: 32pt;
  margin-block-end: 6pt;
}

h2 {
  font: normal normal 500 24pt var(--sans);

  margin-block-start: 32pt;
  margin-block-end: 6pt;
}

h3 {
  font: normal normal 500 16pt var(--sans);

  margin-block-start: 12pt;
  margin-block-end: 6pt;
}

h4 {
    font: normal normal 500 14pt var(--sans);

    margin-block-start: 12pt;
    margin-block-end: 3pt;
}

h5 {
    font: normal normal 600 12pt var(--sans);

    margin-block-start: 6pt;
    margin-block-end: 2pt;
}

h6 {
    font: normal normal 600 10pt var(--sans);

    margin-block-start: 6pt;
    margin-block-end: 0pt;
}

.sub {
  margin-block-start: -6pt;
  font-style: italic;
}


/** Text Blocks **/
p {
  margin-block-start: 0pt;
  margin-block-end: 7pt;
}

blockquote {
  position: relative;
  background-color: var(--offwhite);
  padding: 1rem 2.5rem;

  margin-block-start: 16pt;
  margin-block-end: 16pt;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
blockquote:before {
  content: '\201C';
  font: normal normal 400 32pt Righteous;
  color: var(--pink);

  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
blockquote:after {
  content: '\201D';
  font: normal normal 400 32pt Righteous;
  color: var(--pink);

  position: absolute;
  right: 1rem;
  bottom: 0;
}
blockquote > footer {
  margin-block-start: 8pt;
  margin-block-end: 8pt;
  font-weight: bold;
  font-style: italic;
}

pre {
  position: relative;

  font: normal normal 500 12pt JetBrains Mono;
  background-color: var(--offwhite);
  padding: 1rem;

  margin-block-start: 16pt;
  margin-block-end: 16pt;
}

hr {
    margin-block-start: 18pt;
    margin-block-end: 18pt;

    width: 20%;
    border-style: solid;
    border-color: var(--offwhite);
    border-width: 1px;
}
article hr {
  border-color: var(--white);
}

/** Inline Text **/
a {
  color: var(--pink);
  text-decoration: none;
}
a:hover {
  color: var(--teal)
}

b {
  font-weight: 500;
}

code {
  background-color: var(--offwhite);
  padding: 4pt;
}

sup, sub {
  font-size: 0.5em;
}

q {
  display: inline-block;
  margin-block-start: 6pt;
  margin-block-end: 12pt;
}
q:before {
  content: '\201C';
  font: normal normal 400 14pt Righteous;
  color: var(--pink);
  padding-right: 3pt;
}
q:after {
  content: '\201D';
  font: normal normal 400 14pt Righteous;
  color: var(--pink);
  padding-left: 3pt;
}


/** Responsivity **/
@media screen and (max-width: 80rem) {
  section {
    padding: 2rem !important;
  }
  nav {
    display: none !important;
  }
}
